@model PaginatedList<WebAppBachelorProject.Models.Image>
@using Microsoft.AspNetCore.Identity;
@using WebAppBachelorProject.Areas.Identity.Data;
@inject UserManager<WebAppBachelorProjectUser> UserManager; 


@{
    ViewData["Title"] = "Gallery";
    var userId = UserManager.GetUserId(User);}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Image Gallery</title>
        <link rel="stylesheet" href="css/Gallery.css" />
    </head>
    <body>
        <span class="d-flex" id="skew-bg"> </span>
        <div class="container mt-5">
            <h1 class="display-3" style="font-weight: 900">
                Browse
                <small class="mb-4 display-5" style="font-weight: 500">
                    your image
                    <br>
                    gallery!
                </small>
            </h1>
        </div>




        <div class="container mt-5">
            <section id="search-section" class="text-center mt-5" style="margin-top:20px;">

                <!--https://learn.microsoft.com/en-us/aspnet/core/data/ef-mvc/sort-filter-page?view=aspnetcore-6.0-->
                <!--------- SEARCH BAR ---------->
                <form asp-action="Index" method="get">
                    <div class=" row justify-content-center">
                        <div class="col-md-6">
                            <div class="input-group">
                            <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" class=" form-control form-control-lg rounded-3" placeholder="Search by description" />
                            <button type="submit" value="Search" id="Search" class="btn btn-dark">Search</button>
                            
                            </div>
                            
                            <a asp-action="Index">Back to Full List</a>
                        </div>
                           
                    </div>
                
                </form>


            </section>


            <section class="mt-5" id="showcase">



            <!-----BOOTSTRAP https://getbootstrap.com/docs/5.3/components/placeholders/ ------>
                @if (Model != null && Model.Any())
                {
                    <div class="container">
                        @{
                        var modelCount = Model.Count();

                        for (var i = 0; i < modelCount; i += 3)
                        {
                            var chunk = Model.Skip(i).Take(3);

                            <div class="row d-flex justify-content-center">
                                @foreach (var upload in chunk)
                                {
                                    <div class="col-md-2 mb-3 mt-5">
                                        <div class="card h-100 position-relative d-flex justify-content-center" aria-hidden="true">
                                            <img src="@upload.ImagePath" class="card-img-top" alt="@upload.Description">
                                            <div class="card-body">
                                                <p id="uploadDesc"class="card-text">@upload.Description</p>
                                            </div>
                                            <div class="card-footer  ">
                                                <a class="btn btn-dark" onclick="downloadImage('@upload.ImagePath')">Download image</a>
                                                <a href="#" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ChangeDescModal"
                                                   onclick="loadDescriptionIntoModal('@upload.ImageId', '@upload.Description')">Edit description</a>
                                                <a class="btn btn-danger">Delete image</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @for (var j = chunk.Count(); j < 3; j++)
                                {
                                    <div class="col-md-2 mb-3">
                                        }
                                    </div>
                                }
                            </div>
                                }

                        }
                        </div>
                    }
                else
                {
                    <div>
                        <h3>You have not saved any images to gallery.</h3>
                        <a action="index" asp-controller="Home">Click Here to Generate Descriptions and Save Your Images!</a>
                    </div>
                }


                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }


                <!--https://learn.microsoft.com/en-us/aspnet/core/data/ef-mvc/sort-filter-page?view=aspnetcore-6.0-->
                <!---//Previous and next buttons-->

                <div class="pag" id="pag">
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default  @prevDisabled">
                    Previous
                </a>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @nextDisabled">
                    Next
                </a>
                </div>

            </section>

        <!---------MODAL--------->
        <!---- https://getbootstrap.com/docs/5.0/components/modal/------->

        <div class="modal fade" id="ChangeDescModal" tabindex="-1" aria-labelledby="ChangeDescModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form asp-action="UpdateImageDescription" method="post">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ChangeDescModalLabel">Change description</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <h6>Need to tweak the description? You can easily edit it below.</h6>

                            <textarea id="descriptionTextarea" name="Description" rows="3" cols="50"></textarea>
                            <input type="hidden" id="imageIdInput" name="ImageId"  />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

            
    </div>

        <script>

            /*
            To donwload the image.

            */
            function downloadImage(imagePath) {

                window.location.href = '/Gallery/DownloadImage?imagePath=' + encodeURIComponent(imagePath);
            
            }



            /*
            ----------------------- LOAD DESCRIPTION INTO MODAL -----------------------
            Description of the code:

            */
            function loadDescriptionIntoModal(imageId, description) {
                document.getElementById('descriptionTextarea').value = description;
                document.getElementById('imageIdInput').value = imageId;
        }







        </script>
    </body>
</html>

             